:root {
  --brown: #774E2E;
  --orange: #F37F34;
  --white: #ffffff;
  --yellow: #eac428;
}

.black {
  color: black;
}

.yellow {
  color: var(--yellow);
}

.title {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.wd-10 {
  width: 10px;
}

.wd-20 {
  width: 20px;
}

.wd-30 {
  width: 30px;
}

.wd-40 {
  width: 40px;
}

.wd-50 {
  width: 50px;
}

.wd-60 {
  width: 60px;
}

.wd-70 {
  width: 70px;
}

.wd-80 {
  width: 80px;
}

.wd-90 {
  width: 90px;
}

* {
  margin: 0;
}

body {
  font-family: 'Montserrat';

  container {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    main {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      justify-content: space-between;
      flex-wrap: wrap;

      .left-side {
        display: flex;
        flex-direction: column;
        margin-left: 15px;

        .candidate-photo {
          background: no-repeat center/100% url("../assets/фото_1@288x.png");
          max-width: 300px;
          padding: 150px;
        }

        .candidate-say-hello {
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          margin: 0 auto;
          width: 71%;

          p {
            font-size: 40px;
            font-weight: 800;
            position: relative;
            z-index: 4;
          }

          .iam {
            font-size: 40px;
            font-weight: 800;
            display: flex;
            flex-direction: row;

            p {
              z-index: 4;

              &:last-child {
                margin-left: 10px;
              }
            }

            .vertical-line {
              width: 35px;
              height: 160px;
              position: absolute;
              top: 279px;
              background-color: var(--yellow);
              z-index: 1;
            }
          }
        }

        .candidate-information {
          display: flex;
          flex-direction: column;
          padding: 5px;

          .contacts {
            display: flex;
            flex-direction: column;
            padding: 0 20px;
            background-color: var(--yellow);
            flex-wrap: nowrap;
            margin-left: 20px;
            margin-top: 10px;

            .contact-item {
              margin: 10px 0;

              :last-child {
                font-size: 12px;
              }
            }

          }

          .skills {
            padding: 0 40px;
            margin: 20px 0;
            display: flex;
            flex-direction: column;

            .skill-item {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              margin: 20px 0;

              .skill-name {
                font-size: 12px;
              }

              .range {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .skill-range-left {
                  height: 10px;
                  align-items: baseline;
                  background-color: black;
                }

                .skill-range-right {
                  height: 10px;
                  align-items: baseline;
                  background-color: var(--yellow);
                }
              }
            }
          }
        }

        .languages {
          padding: 0 40px;
          margin: 20px 0;
          display: flex;
          flex-direction: column;

          .language-items {
            display: flex;
            flex-direction: row;
            max-width: 250px;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .language-item {
              display: flex;
              flex-direction: row;
              background: no-repeat center/100% url("../assets/Ресурс 3@288x.png");
              height: 100px;
              width: 100px;
              flex-wrap: wrap;
              justify-content: space-evenly;
              align-items: center;

              &:last-child {
                position: relative;
                bottom: 43px;
              }

              span {
                font-size: 12px;
              }
            }
          }
        }
      }
    }


    .right-side {
      display: flex;
      flex-direction: column;
      width: 74%;

      .profile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .profile-info {
          display: flex;
          flex-direction: column;
          border-left: solid 2px var(--yellow);
          margin-top: 25px;
          width: 110%;

          h2 {
            display: flex;
            flex-direction: column;
            justify-content: end;
            height: 150px;
            border-bottom: solid 2px var(--yellow);
            width: 105px;
            padding-left: 20px;
            text-transform: uppercase;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            letter-spacing: 3px;
            font-size: 18px;
          }

          p {
            padding: 20px 55px 15px 20px;
            text-align: justify;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          }
        }
      }

      .education>h2:first-child {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 50px;
        border-bottom: solid 2px var(--yellow);
        border-left: solid 2px var(--yellow);
        width: 140px;
        padding-left: 20px;
        text-transform: uppercase;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        letter-spacing: 3px;
        font-size: 18px;
      }

      .education {
        .education-info {
          display: flex;
          flex-direction: row;
          padding: 20px;
          border-left: solid 2px var(--yellow);
          width: 87%;
          justify-content: space-between;

          h2 {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 5px;
            text-transform: uppercase;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-size: 14px;
          }

          p {
            display: flex;
            flex-direction: column;
            margin-top: 2px;
            margin-bottom: 3px;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-size: 14px;
          }
        }
      }

      .work-experience>h2:first-child {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 50px;
        border-bottom: solid 2px var(--yellow);
        border-left: solid 2px var(--yellow);
        width: 240px;
        padding-left: 20px;
        text-transform: uppercase;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        letter-spacing: 3px;
        font-size: 18px;
      }

      .work-experience {
        .work-items {
          display: flex;
          flex-direction: column;
          border-left: solid 2px var(--yellow);
          padding-bottom: 115px;
          max-width: 65%;

          div {
            padding: 5px 0 0 0;

            h2 {
              display: flex;
              flex-direction: column;
              width: 220px;
              padding-left: 20px;
              //display: flex;
              //flex-direction: column;
              margin-top: 10px;
              margin-bottom: 5px;
              text-transform: uppercase;
              font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
              font-size: 14px;

              &:first-child {
                margin-top: 20px;
              }
            }

            div {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              p:nth-child(2) {
                padding-bottom: 10px;
              }
            }

            p {
              padding-left: 20px;
              font-size: 15px;
            }
          }
        }
      }
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      background-color: var(--yellow);
    }
  }
}


.yellow-block {
  background: var(--yellow);
  height: 200px;
  width: 60px;
}

@media only screen and (min-width: 1420px) {
  .yellow-block {
    display: none;
  }

  body {
    container {
      .right-side {
        width: 80%;
      }

    }
  }
}

@media only screen and (max-width: 1820px) {
  .yellow-block {
    display: none;
  }

  body {
    container {
      .right-side {
        width: 74%;
      }

    }
  }
}

@media only screen and (max-width: 1360px) {
  .yellow-block {
    display: none;
  }

  body {
    container {
      .right-side {
        width: 70%;
      }

    }
  }
}

@media only screen and (max-width: 1260px) {
  .yellow-block {
    display: none;
  }

  body {
    container {
      .right-side {
        width: 65%;
      }

    }
  }
}

@media only screen and (max-width: 1060px) {
  .yellow-block {
    display: none;
  }

  body {
    container {
      .right-side {
        width: 55%;
      }

    }
  }
}

@media only screen and (max-width: 800px) {
  .yellow-block {
    display: none;
  }

  body {
    container {
      .right-side {
        width: 45%;
      }

    }
  }
}

@media only screen and (max-width: 650px) {
  .yellow-block {
    display: none;
  }

  body {
    container {
      main {
      .right-side {
        margin: 0 auto;
        width: 100%;
      }

      .left-side {
        margin: 0 auto;
        width: 100%;
      }
      }
    }
  }
}
